.featureSection {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  margin-top: 1rem;
}

.feature {
  cursor: pointer;
  border-radius: 1rem;
}

.feature:hover {
  background-color: #242526;
  
}
